.highlighted {
	background-color: yellow;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="password"] {
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-container input[type="submit"] {
	width: auto;
}

.input-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.input-container input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.user-table {
	border-collapse:collapse;
	min-width: 300px;
}

.error-message {
	background-color: #ff5c5c;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	max-width: 180px;
	min-width: 150px;
}

.success-message {
	background-color: #26a269;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	min-width: 150px;
}

.error-message, .success-message {
    width: fit-content;
    margin-top: 10px;
}

.login-container {
	display: flex;
	align-items: center;
}

.login-form {
	margin-right: 5%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: auto;
}

.visible-container {
	max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.hidden {
	visibility: hidden;
	height: 0;
	width: 0;
}

.overlay {
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
 	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.5);
  	backdrop-filter: blur(3px);
  	z-index: 1;
}


.modal {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
	gap: 0.4rem;
	padding: 1.3rem;
	min-height: 250px;
	position: absolute;
	top: 5%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 15px;
	z-index: 2;
	align-self: center;
	min-width: 500px;
}

.close-button {
	align-self: flex-end;
	padding: 0.5rem 0.7rem;
	background: #eee;
	border-radius: 25%;
}

.draggable {
	cursor: pointer;
}

.trash {
	max-width: 40px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	opacity: 0.8;
}

.group-info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.group-info-list p {
    flex: 1 1 45%;
    margin: 5px 0;
    font-size: 16px;
    font-style: italic;
}

.group-info-list p span {
	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Arial', sans-serif;
    color: #333;
    background: #f9f9f9;
    margin: 0;
    padding: 0;	
}

a {
	color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #444;
}

button, input[type="submit"] {
	margin-top: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #007BFF;
    color: #fff;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

th {
	text-align: start;
}

button {
	margin-left: 50%;
	margin-right: 50%;
}