<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dettagli Gruppo</title>
<link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/GoToHomepage}">Homepage</a>
	</div>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h2><span th:text="${group.getTitle}">Group Title</span></h2>
	<p>Data di creazione: <span th:text="${group.getDate}">Creation Date</span></p>
	<p>Durata: <span th:text="${group.getDuration}">Duration</span></p>
	<p>Numero minimo di partecipanti: <span th:text="${group.getMinParticipants}">Min Participants</span></p>
	<p>Numero massimo di partecipanti: <span th:text="${group.getMaxParticipants}">Max Participants</span></p>
	
	<table>
		<thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
            </tr>
        </thead>
		<tbody>
		  <tr th:each="user : ${participants}">
		  	<td th:text="${user.getName}">Name</td>
		  	<td th:text="${user.getSurname}">Surname</td>
		  </tr>    
		</tbody>
	</table>
	
</body>
</html>