<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Homepage</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<form
		th:action="@{/RetreiveAllUsers}"
		method="POST">
		
		<div>
			<label for="title">Titolo:</label>
			<input type="text" name="title" required>		
		</div>
		<div>
			<label for="duration">Durata (in giorni):</label>
			<input type="number" name="duration" min="1" required>
		</div>
		<div>
			<label for="min_participants">Numero minimo di partecipanti:</label>
			<input type="number" name="min_participants" min="1" required>
		</div>
		<div>
			<label for="max_participants">Numero massimo di partecipanti:</label>
			<input type="number" name="max_participants" min="1" required>
		</div>	
		
		<input type="submit" name="create" value="Crea Gruppo">		
	</form>
	
	<table>
		<thead>
            <tr>
                <th>Titolo</th>
                <th>Data di creazione</th>
                <th>Durata (in giorni)</th>
                <th>Dettagli</th>
            </tr>
        </thead>
		<tbody>
		  <tr th:each="group : ${createdGroups}">
		  	<td th:text="${group.title}">Title</td>
		  	<td th:text="${group.creation_date}">Creation Date</td>
		  	<td th:text="${group.duration}">Duration</td>
		  	<td>
            	<a th:href="@{/RetreiveGroup(groupId=${group.id})}">Details</a>
            </td>
		  </tr>    
		</tbody>
	</table>
	
	<table>
		<thead>
            <tr>
                <th>Titolo</th>
                <th>Data di creazione</th>
                <th>Durata (in giorni)</th>
                <th>Dettagli</th>
            </tr>
        </thead>
		<tbody>
		  <tr th:each="group : ${activeGroups}">
		  	<td th:text="${group.title}">Title</td>
		  	<td th:text="${group.creation_date}">Creation Date</td>
		  	<td th:text="${group.duration}">Duration</td>
		  	<td>
            	<a th:href="@{/RetreiveGroup(groupId=${group.id})}">Details</a>
            </td>
		  </tr>
		</tbody>
	</table>
	
</body>
</html>